{
	"check_ana": "",
	"check_history": "",
	"check_length": "",
	"environment": "",
	"error_bad_recipient": "",
	"error_length": "",
	"error_submission_history": "",
	"initialize": "",
	"last_scanned": "",
	"loglevel": "",
	"m_account": "",
	"min_length": "",
	"msg_confirmation": "",
	"msg_remind": "",
	"prod_password": "",
	"prod_subreddit": "",
	"prod_username": "",
	"running_password": "",
	"running_subreddit": "",
	"running_username": "",
	"stop_body": "",
	"stop_subject": "",
	"stop_warning": "",
	"test_subreddit": "",
	"test_password": "",
	"test_username": "",
	"token": [
		"\u2206",
		"!delta",
	]
}
