{
  "check_ana": "1", 
  "check_history": "1", 
  "check_length": "1", 
  "environment": "test", 
  "initialize": "1", 
  "loglevel": "debug", 
  "min_length": "50", 
  "prod_password": "example", 
  "prod_subreddit": "example", 
  "prod_username": "example", 
  "running_password": "example", 
  "running_subreddit": "example", 
  "running_username": "example",
  "test_password": "example", 
  "test_subreddit": "example", 
  "test_username": "example", 
  "token": [
    "\u0394",
    "\u2206", 
    "!delta", 
    "&#8710;", 
    "&amp;#8710;"
  ]
}
